<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset={{file_encoding}}"/>
 </head>
<body>
<pre>
{{election_name}}


[Generated {{generated_datetime}}
 using data posted as of {{data_datetime}}.]


Table of Contents
=================

{{#toc_item}}
<a href='#{{label}}'>({{index}}) {{text}}{{^elimination_rounds}} **DECIDED IN ROUND 1{{/elimination_rounds}}</a><br/>
{{/toc_item}}

********************************************************************************
********************************************************************************

{{#contest}}
<a name='{{label}}'>{{title}}{{^elimination_rounds}} **DECIDED IN ROUND 1{{/elimination_rounds}}</name>
{{line}}

{{body}}
{{#download_url}}[Data downloaded from <a href='{{download_url}}'>{{download_url}}</a>
 on {{download_datetime}}.]

{{/download_url}}

********************************************************************************
********************************************************************************
<br>

{{/contest}}
</pre>
</body>
</html>
