<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset={{file_encoding}}"/>
 </head>
<body>
<pre>
{{election_name}}


[Generated {{generated_datetime}}
 using data posted as of {{data_datetime}}.]


Table of Contents
=================

{{#toc_item}}
<a href='#{{label}}'>({{index}}) {{text}}{{^elimination_rounds}} **DECIDED IN ROUND 1{{/elimination_rounds}}</a> ({{candidate_count}} candidates)<br/>
{{/toc_item}}

********************************************************************************
********************************************************************************

{{#contest}}
<a name='{{label}}'>{{title}}{{^elimination_rounds}} **DECIDED IN ROUND 1{{/elimination_rounds}}</name>
{{line}}

Official round-by-round: {{#round_by_round_url}}<a href='{{.}}'>{{.}}</a>
{{/round_by_round_url}}{{^round_by_round_url}}N/A
{{/round_by_round_url}}

{{body}}
[Data downloaded on {{download_datetime}} from:
{{#download_urls}}  <a href='{{.}}'>{{.}}</a>
{{/download_urls}} ]

********************************************************************************
********************************************************************************
<br>

{{/contest}}
</pre>
</body>
</html>
