<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset={{file_encoding}}"/>
 </head>
<body>
<pre>
{{election_name}}


[Using the data posted as of {{data_datetime}}.]


Table of Contents
=================

{{#toc_item}}
<a href='#{{label}}'>({{index}}) {{text}}</a><br/>
{{/toc_item}}

********************************************************************************
********************************************************************************

{{#contest}}
<a name='{{label}}'>{{title}}</name>
{{line}}

{{body}}
[Data downloaded from <a href='{{download_url}}'>{{download_url}}</a>
 on {{download_datetime}}.]


********************************************************************************
********************************************************************************
<br>

{{/contest}}
</pre>
</body>
</html>
